.form-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.form-group > label:first-of-type {
  font-weight: bold;
}
.form-errorWrapper {
  margin-top: 1rem;
  font-size: 1.8rem;
  list-style: inside;
}
.form-error {
  color: red;
}
.form-percentInput {
  width: 3ch;
  text-align: right;
}
.form-priceWrapper > input {
  width: 8ch;
}
