.product-header {
  margin-bottom: 0;
}
.product-detailLabel {
  font-weight: bold;
}
.product-stock {
  font-size: 0.85em;
  font-style: italic;
}
.product-description {
  margin: 1rem 0;
}
.product-categories {
  font-size: 0.9em;
}
.product-instancesContainer {
  margin-left: 2rem;
}
.product-instancesHeader {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.product-instanceCard {
  margin: 1rem 0;
}
.product-instanceCard > p:not(.product-instanceCard > p:last-of-type) {
  margin-bottom: 0.7rem;
}

/* DELETE PAGE */

.product-deleteInstructions {
  font-weight: bold;
}
