:root {
  /* --clr-link: rgb(68, 68, 255); */
  --clr-link: rgb(0, 123, 255);
  --clr-link-dark: rgb(0, 86, 179);
  font-size: 62.5%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
h1 {
  margin: 1rem 0;
  font-size: 4rem;
  font-weight: 500;
}
a {
  color: var(--clr-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--clr-link-dark);
}

nav {
  margin: 2rem 3rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
nav > *:not(hr) {
  width: max-content;
}
nav > hr {
  margin: 1rem 0;
}
.navbar-credit {
  font-size: 1.2rem;
  font-family: monospace;
}
.content-wrapper {
  margin: 0 2rem;
  width: 100%;
  max-width: 80rem;
}
.instance-status-new {
  color: forestgreen;
}
.instance-status-used {
  color: goldenrod;
}
.instance-discount {
  font-style: italic;
}
.deleteButton {
  background: red;
  color: white;
  cursor: pointer;
}
.deleteButton:hover {
  background: rgb(184, 16, 49);
}

.controlButton {
  margin-top: 1rem;
}
